<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/x-icon" href="public\images\Wood.jpg" />
<title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--External css file-->

<!-- bootstrap File-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- File for icons-->

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script src='https://www.google.com/recaptcha/api.js'></script>

   <link rel='stylesheet' href='/stylesheets/style.css'/>
  <!-- <link rel='stylesheet' href='/stylesheets/Answers.css' />-->
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  
   <script src="/javascripts/Click.js"></script>

</head>
<body>

  {{> header}}

  {{{body}}}

{{> footer}}

</body>
</html>
