
<div class="w3-row-padding w3-padding-16 w3-center" style="background-color:hsla(50, 33%, 25%, .75);margin:-30px 0px 0px 0px;padding:90px 40px;">
     <br />
     <h2 style="text-align:center;text-shadow:3px 2px black;font-size:36px">We Love Coding</h2><br>
    <div class="w3-half">
      <img src="https://scontent.fdel4-1.fna.fbcdn.net/v/t1.0-9/15219416_1034114586734276_6766689334819050562_n.jpg?_nc_cat=0&oh=2ddbc67d3e028cf1cc196b97a1ab1f07&oe=5B2A5627"  style="width:48%" class="img-circle">
      <h3>Harsh Jain</h3>
      <p> CSE Student <br>Bhagwan Parshuram Institute of Technology<br> GGSIPU Delhi</p>
         <br>
    </div>
<br />
    <div class="w3-half">
      <img src="https://www.rhinodigital.com/wp-content/uploads/2016/12/blank-user.jpg"  style="width:51%" class="img-circle">
      <h3>Dhairya Kathpaliya</h3>
      <p> CSE Student <br>CIC<br> DU Delhi</p>
    </div>

    </div
