<div id="content">
<h2 style="text-align:center;text-shadow:3px 2px white;">Frequently Asked Questions<br></h2>
<h3 style="text-shadow:3px 2px white;">General Questions:</h3><br />
<h4 style="color:white;">What is codezone?</h4>
<p style=" font-variant:small-caps; color:white">Codezone is a place where programmers from all over the world come together to see problems with solution in a wide range of Computer Science domains such as algorithms,c/c++,Datastructues, as well as to practice different programming paradigms like functional programming.</p>
<br />
<h4 style="color:white;">Why should I see questions on codezone ?</h4>
<p style=" font-variant:small-caps; color:white">Expand your knowledge by learning new programming topics and techniques by going through our questions and solutions. We believe the best way to learn something is by doing it!</p>
</br>
<h4 style="color:white;">How do I write my code?</h4>
<p style="color:white">You have to solve question on your favourite IDE,you can just see question's code on our site.</p>
</div>
