<div id="content">
<h2 style="text-align:center;text-shadow:3px 2px white;">Codezone welcomes user<br></h2><br /><br /><br />
<a class="btn btn-primary btn-lg" href="/c" role="button">C/C++</a><br /><br /><br />
<a class="btn btn-success btn-lg" href="/ds" role="button">Data Structures</a><br /><br /><br /><br />
<!--<p style="text-align:center; font-variant:small-caps; color:white">With the help of Code Zone you can get questions of different levels and enjoy coding.<br>You can also challenge our solution code and ask query.<br>Our questions boost-up and improve your coding skills .<br>You can choose your own level on the basis of your coding knowledge.<br>

We will provide u with the code of the question you want to solve.<br>If you don’t know the first thing about coding, you’ve come to the right place.<br> We’ve put together a beginner’s tutorial which will give you all the background information you need on coding.<br> before you start learning it for real.


<br>It starts with an explanation on the benefits of learning coding.<br> Here, you’ll find out what you’ll be able to do once you know how to work with code.<br>It starts with an explanation on the benefits of learning coding.<br>If you don’t know the first thing about coding, you’ve come to the right place.<br> Here, you’ll find out what you’ll be able to do once you know how to work with code.<br></p><br><br>
-->
</div>
